extends ./../layout

block content

	h1.central-text.text-center Recursos
	h4.central-text(style='margin-top: 150px; text-align: center') Información relevante de los badges ofrecidos por Responsabilidad Social Corporativa
