extends ./../layout

block content

	link(href='/stylesheets/contacto/contacto.css', rel='stylesheet')
	script(src='/javascripts/contacto/contacto.js')

	h1.central-text.text-center(style='top: 20%') Sobre el autor.
	img(src='images/contacto/jair.jpg', style='top: 45%; width: 350px; height: 350px;').central-text
	h1.central-text.text-center(style='top: 70%') Jair Lizarraga
	h4.central-text.text-center(style='top: 77%') Ingeniero en computación especializado en IA, lider técnico en responsabilidad social de IBM.
	h4.central-text(style='top: 70%; margin-top: 150px; text-align: center') Email corporativo: alizarra@mx1.ibm.com
	h4.central-text(style='top: 73%; margin-top: 150px; text-align: center') Email personal: lga.jair@gmail.com
	
	
	a(href="https://linkedin.com/in/jairlizarraga/", target="_blank")
		img(src='images/contacto/linkedin.jpg', style='top: 95%; left: 47%; width: 40px; height: 40px;').central-text
	
	a(href="https://twitter.com/Jair_LizarragaV", target="_blank")
		img(src='images/contacto/twitter.jpg', style='top: 95%; right: 47%; width: 40px; height: 40px;').central-text