extends ./../layout

block content

	link(href='/stylesheets/contacto/contacto.css', rel='stylesheet')
	script(src='/javascripts/contacto/contacto.js')

	h1.central-text.text-center Contacto
	h4.central-text(style='margin-top: 150px; text-align: center') Jair Lizarraga: alizarra@mx1.ibm.com
