extends layout
block content
	h1.central-text.text-center Responsabilidad Social Corporativa
	h2.central-text(style='margin-top: 150px;') IBM de México

	.containter
		.row(style='heigh: 200px;')
			.col-md-12
						img.h-100.w-25(src='/images/voluntariados/rios_limpios.jpg')
						img.h-100.w-25(src='/images/voluntariados/tj2.jpeg')
						img.h-100.w-25(src='/images/voluntariados/tj3.jpeg')
						img.h-100.w-25(src='/images/voluntariados/tj1.jpeg')


	section.ftco-section.contact-section.ftco-degree-bg(style="margin: 50px;")
		.container
			.row
				h2.col-md-12.font-weight-bold.text-center Bienvenido
				col-md-12 
					h5
						| En esta página encontrarás información acerca de las actividades que desempeña
						| el área de Responsabilidad Social Corporativa de IBM de México:
				h6
					br
					ul.list-group
						li.ml-5.text-justify(style='list-style-type: square;') Actividades de voluntariado
						li.ml-5.text-justify(style='list-style-type: square;') Calendario de actividades
						li.ml-5.text-justify(style='list-style-type: square;') Contacto
						li.ml-5.text-justify(style='list-style-type: square;') Materiales y recursos de nuestros talleres
			.row
				br
				br
				h5 Te invitamos a explorar las actividades que tenemos tanto para IBMistas como para las fundaciones.

	iframe.airtable-embed.mb-5(src='https://airtable.com/embed/shrhys6CNyZOZcttY?backgroundColor=cyan&viewControls=on', frameborder='0', onmousewheel='', width='100%', height='533', style='background: transparent; border: 1px solid #ccc;')
