extends layout
block content
	script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
	h1.central-text.text-center Tecnología cognitiva para todos
	h2.central-text(style='margin-top: 150px;') TJBot, Chatbots y más.

	.containter
		.row(style='heigh: 200px;')
			.col-md-12
						img.h-100.w-25(src='/images/index/rios_limpios.jpg')
						img.h-100.w-25(src='/images/index/tj2.jpeg')
						img.h-100.w-25(src='/images/index/tj3.jpeg')
						img.h-100.w-25(src='/images/index/tj1.jpeg')


	section.ftco-section.contact-section.ftco-degree-bg(style="margin: 50px;")
		.container
			.row
				h2.col-md-12.font-weight-bold.text-center Bienvenido
				col-md-12 
					h5
						| En ésta página podrás encontrar información y material relacionados con proyectos que hacen uso de IBM Watson: TJBot, Chatbot, entre otros.
				h6
					br
					ul.list-group
						li.ml-5.text-justify(style='list-style-type: square;') Badges (Certificaciones digitales)
						li.ml-5.text-justify(style='list-style-type: square;') Calendario de actividades
						li.ml-5.text-justify(style='list-style-type: square;') Tutoriales
						li.ml-5.text-justify(style='list-style-type: square;') Contacto

	h5.text-center.pb-2 Te invitamos a explorar las diferentes activiades en las que colaboro, tanto para IBMistas como para las fundaciones.
	iframe.airtable-embed.mb-5(src='https://airtable.com/embed/shrhys6CNyZOZcttY?backgroundColor=cyan&viewControls=on', frameborder='0', onmousewheel='', width='100%', height='533', style='background: transparent; border: 1px solid #ccc;')


	.container
		.row
			h2 Algunos proyectos realizados:
		.row
			.col-md-4
				a.twitter-timeline(data-width='300', data-height='400', data-dnt='true', data-theme='dark', href='https://twitter.com/Jair_LizarragaV?ref_src=twsrc%5Etfw') Tweets by Jair_LizarragaV
			.col-md-4
				a.twitter-timeline(data-width='300', data-height='400', data-dnt='true', data-theme='dark', href='https://twitter.com/carlossm68?ref_src=twsrc%5Etfw') Tweets by carlossm68
			.col-md-4
				a.twitter-timeline(data-width='300', data-height='400', data-dnt='true', data-theme='dark', href='https://twitter.com/clauuchacon?ref_src=twsrc%5Etfw') Tweets by clauuchacon

