doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')

		
		script(src="/javascripts/jquery-3.4.1.min.js")
		script(src="/javascripts/particles.js")
		script(src="/javascripts/bootstrap.js")
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-dark
			a.navbar-brand(href='/').text-white Responsabilidad Social Corporativa - IBM de México
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href='badges').text-white Badges
					li.nav-item
						a.nav-link(href='calendario').text-white Calendario
					li.nav-item
						a.nav-link(href='tutoriales').text-white Tutoriales

	block content

	script(src='/reload/reload.js')