extends ./../layout

block content
	h1.central-text.text-center Tutoriales
	h4.central-text(style='margin-top: 150px; text-align: center') Aprende de las tecnologías de IBM con los siguientes tutoriales.

	.container
		.row
			.col-md-5
				p Hola

	.container.bg-light.m-5
		.row
			.col-md-12
				p Tutorial 1
		.row
			.col-md-12
				p Descripción del taller

	.container.bg-light.m-5
		.row
			.col-md-12
				p Tutorial 2
		.row
			.col-md-12
				p Descripción del taller 2