extends layout

block content
	.my-5
		h1.text-center TJBot
		.text-center
			img.img-fluid(src='/images/tutoriales/tjbot/tjbot_image.png', alt='Responsive image')
		h4(style='text-align: center') Computación cognitiva al alcance de todos


	section.ftco-section.contact-section.ftco-degree-bg.p-3
		.container.bg-light
			.row
				.col-md-12
					h4.mt-3 Manual de usuario.
			.row
				.col-md-12
					p Este manual fué diseñado para personas con/sin experiencia técnica previa, y aprenderás a:
					ul
						li - Las bases teóricas necesarias para el trabajo con tecnologías de la nube y de Inteligencia Artificial.
						li - Instalación del software TJBot.
						li - Construcción del robot.
						li - Programación de TJBots con Node-RED.
					p Los archivos auxiliares, tales como la copia de seguridad y los planos de TJBot, puedes consultarlos en esta misma página más adelante.
			.row
				.col-md-12
					#pdf1.mb-3(style='height: 750px;')
						script.
							PDFObject.embed('/resources/tjbot/manual_integrado_tjbot.pdf', "#pdf1")
			.row
				.col-md-12
					h5 Copia de seguridad de TJBot, para una configuración rápida del robot:
					h6 - Link de Google Drive: 
						a(href='https://drive.google.com/open?id=1MY2UCLtILILkdqyb9tsqQGuYM-oERIfc', download='TJBot3DPrintFiles.zip', target='_blank').btn.btn-primary Descargar
					h6 El archivo pesa aproximadamente 3Gb por lo que la descarga podrá tardar algunos minutos. Una vez descargado el archivo te recomendamos alguno de los siguientes programas
						| para grabarlo en tu memoria SD:
					ul
						li - Win32 Disk Imager (Solo para Windows): 
							a(href='https://sourceforge.net/projects/win32diskimager/', target='_blank') Descarga en SourceForge.net
						li - Etcher (Windows, Linux, MacOS): 
							a(href='https://www.balena.io/etcher/', target='_blank') Descarga en balena.io
					p.mb-3 Haciendo uso de cualquier programa para grabar memorias (te recomendamos los dos anteriores) utiliza la imagen descargada para grabar la memoria SD. 
						| El proceso tardará alrededor de 20 minutos.
						| Una vez concluida la grabación introduce la memoria a la Raspberry PI, conecta una bocina USB a la raspberry y el cable de corriente y enciende la tarjeta. 
						| Tras un minuto deberás escuchar a TJBot diciendo "Buscando Red", lo que indicará que la memoria fué grabada correctamente.		
			.row
				.col-md-12
					h5 Planos para generar la carcasa de TJBot.
					| En un inicio la carcasa del robot fué creada en material de cartón, y al poco tiempo los planos para realizar la impresión 3D fueron liberados. 
					| En prácticas con los dos materiales anteriores encontramos algunos inconvenientes: El cartón resultaba frágil, y la impresión 3D costosa. Por este motivo
					|  hemos liberado una versión en madera comprimida (MDF) que mejora el precio y la resistencia del robot.
					p
					h6 Los planos son los siguientes:
				table.table
					thead.thead-light
						tr
							th(scope='col').text-center Material
							th(scope='col').text-center Armado
					tbody
						tr.text-center
							th(scope='row').align-middle Cartón
								br
								a(href='/resources/tjbot_design_files/TJBot3DPrintFiles.zip', download='TJBot3DPrintFiles.zip').btn.btn-primary Descargar
								br
								a.btn.btn-secondary(href='http://www.instructables.com/id/Build-TJ-Bot-Out-of-Cardboard/', target='_blank', role='button') Instrucciones
							td.align-middle
								iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/bLt3Cf2Ui3o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
						tr.text-center
							th(scope='row').align-middle Impresión 3D
								br
								a(href='/resources/tjbot_design_files/TJBotLasercutLines.zip', download='TJBotLasercutLines.zip').btn.btn-primary Descargar
								br
								a.btn.btn-secondary(href='https://www.instructables.com/id/Build-a-3D-Printed-TJBot/', target='_blank', role='button') Instrucciones
							td.align-middle
								iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/bLt3Cf2Ui3o?start=39', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
						tr.text-center
							th(scope='row').align-middle MDF
								br
								a(href='/resources/tjbot_design_files/TJBotMDF.zip', download='TJBotMDF.zip').btn.btn-primary Descargar
								br
								a.btn.btn-secondary(href='#', target='_blank', role='button').disabled Instrucciones
							td.align-middle
								iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/Yee2ylksP4U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
	
	section.ftco-section.contact-section.ftco-degree-bg.p-3
		.container.bg-light
			.row
				.col-md-12
					h4.mt-3 Flujos pre diseñados
			.row
				.col-md-12
					p Estos son algunos ejemplos de funcionalidades creados a partir de ideas a lo largo de nuestros talleres. Importa estos flujos para dotar
						| de habilidades interesantes a TJBot y hacer explotar tu creatividad!
			.row
				table.table
					thead.thead-light
						tr
							th(scope='col').text-center Nombre
							th(scope='col').text-center Descripción
							th(scope='col').text-center Descarga (click en la imagen)
					tbody
						tr.text-center
							td(scope='row').align-middle Prueba de componentes
							td(scope='row') Este flujo importa de forma rápida la programación que permite verificar si todos los componentes y servicios de TJBot funcionan con normalidad
								| : Led, Servomotor, cámara, bocina, microfono, conversation, traductor.
							td.align-middle
								a(href='/resources/tjbot/advanced_flows/Prueba de componentes.json', download='Prueba de componentes.json')
									img.img-fluid(src='/resources/tjbot/advanced_flows/json_logo.png', alt='Responsive image', width='50', height='50')
						tr.text-center
							td(scope='row').align-middle Observar los alrededores.
							td(scope='row') Dota a TJBot con la habilidad de detallar lo que está observando.
							td.align-middle
								a(href='/resources/tjbot/advanced_flows/see_and_speak.json', download='see_and_speak.json')
									img.img-fluid(src='/resources/tjbot/advanced_flows/json_logo.png', alt='Responsive image', width='50', height='50')
						tr.text-center
							td(scope='row').align-middle Twitter superstar
							td(scope='row') TJBot hará uso de la api de Twitter para subir selfies.
							td.align-middle
								a(href='/resources/tjbot/advanced_flows/selfie_to_twitter.json', download='selfie_to_twitter.json')
									img.img-fluid(src='/resources/tjbot/advanced_flows/json_logo.png', alt='Responsive image', width='50', height='50')
						tr.text-center
							td(scope='row').align-middle Meteorologo
							td(scope='row') TJBot hace uso de la api OpenWeatherMap para obtener el clima de cualquier lugar.
							td.align-middle
								a(href='/resources/tjbot/advanced_flows/speak_weather.json', download='speak_weather.json')
									img.img-fluid(src='/resources/tjbot/advanced_flows/json_logo.png', alt='Responsive image', width='50', height='50')
						tr.text-center
							td(scope='row').align-middle Traductor universal
							td(scope='row') TJBot escuchará, traducirá y hablará al idioma que elijas.
							td.align-middle
								a(href='/resources/tjbot/advanced_flows/universal_translator.json', download='universal_translator.json')
									img.img-fluid(src='/resources/tjbot/advanced_flows/json_logo.png', alt='Responsive image', width='50', height='50')
						tr.text-center
							td(scope='row').align-middle Los sentimientos de Twitter
							td(scope='row') TJBot reaccionará a las publicaciones de twitter, detectará los sentimientos en ellos.
							td.align-middle
								a(href='/resources/tjbot/advanced_flows/twitter_and_feelings.json', download='twitter_and_feelings.json')
									img.img-fluid(src='/resources/tjbot/advanced_flows/json_logo.png', alt='Responsive image', width='50', height='50')
			