extends layout

block content
	.my-5
		h1.text-center TJBot
		.text-center
			img.img-fluid(src='/images/tutoriales/tjbot/tjbot_image.png', alt='Responsive image')
		h4(style='text-align: center') Computación cognitiva al alcance de todos


	section.ftco-section.contact-section.ftco-degree-bg.p-3
		.container.bg-light
			.row
				.col-md-12
					h4.mt-3 Guía 1: Instalación
			.row
				.col-md-12
					p En este manual encontrarás las instrucciones para llevar a cabo la instalación inicial del proyecto: 
					ul
						li - Instalación del sistema operativo.
						li - Descarga e instalación de los archivos del proyecto TJBot.
						li - Cómo realizar la conexión remota.
						li - Cómo agregar redes wifi.
			.row
				.col-md-12
					#pdf1.mb-3(style='height: 750px;')
						script.
							PDFObject.embed('/resources/tjbot/1- Guia de instalación.pdf', "#pdf1")
			.row
				.col-md-12
					h5 En caso de que desees saltarte toda la instalación manual, puedes simplemente grabar este archivo en tu memoria SD:
					h6 - Link de Google Drive: 
						a(href='https://drive.google.com/file/d/1xrM3e_uGZ-AibXbaR-jZvV3wR_B21EX7/view?usp=sharing', download='TJBot3DPrintFiles.zip', target='_blank').btn.btn-primary Descargar
					h6 El archivo pesa aproximadamente 3Gb por lo que la descarga podrá tardar algunos minutos. Una vez descargado el archivo te recomendamos alguno de los siguientes programas
						| para grabarlo en tu memoria SD:
					ul
						li - Win32 Disk Imager (Solo para Windows): 
							a(href='https://sourceforge.net/projects/win32diskimager/', target='_blank') Descarga en SourceForge.net
						li - Etcher (Windows, Linux, MacOS): 
							a(href='https://www.balena.io/etcher/', target='_blank') Descarga en balena.io
					p.mb-3 Haciendo uso de cualquier programa para grabar memorias (te recomendamos los dos anteriores) utiliza la imagen descargada para grabar la memoria SD. 
						| El proceso tardará alrededor de 20 minutos.
						| Una vez concluida la grabación introduce la memoria a la Raspberry PI, conecta una bocina USB a la raspberry y el cable de corriente y enciende la tarjeta. 
						| Tras un minuto deberás escuchar a TJBot diciendo "Buscando Red", lo que indicará que la memoria fué grabada correctamente.
	section.ftco-section.contact-section.ftco-degree-bg.p-3
		.container.bg-light
			.row
				.col-md-12
					h4.mt-3 Guía 2: Configuración y actividades básicas
			.row
				.col-md-12
					p 
						| El manual número 2 te guiará en las bases para iniciar en el mundo de la programación por medio de TJBot, haciendo uso de
						| Inteligencia Artificial y Node-RED. En éste manual se abordará:
					ul
						li - Construcción de TJBot.
						li - Conexión remota a TJBot con Node-RED.
						li - Creación de cuenta en IBM Cloud y obtención de API Keys.
						li - Configuración de nuestro primer bot.
						li - Programación de actividades básicas: Habla, led, servomotor, escucha, visión.
			
			.row
				.col-md-12
					#pdf2.mb-3(style='height: 750px;')
						script.
							PDFObject.embed('/resources/tjbot/2- Guia básica TJBot.pdf', "#pdf2")
			.row
				.col-md-12
					h4 NOTAS
			.row
				.col-md-12
					h6 
						| Particulamente en este segundo manual se lleva a cabo el armado de la estructura física de TJBot, donde es conveniente hacer un pequeño paréntesis.
						| En un inicio la carcasa del robot fué creada en material de cartón, y al poco tiempo los planos para realizar la impresión 3D fueron liberados. 
						| En prácticas con los dos materiales anteriores encontramos algunos inconvenientes: El cartón resultaba frágil, y la impresión 3D costosa. Fué el motivo
						| por el cual hemos liberado una versión en madera comprimida (MDF) que mejora el precio y la resistencia del robot.
					h6 Los planos son los siguientes:

			.row.m-4
				table.table
					thead.thead-light
						tr
							th(scope='col').text-center Material
							th(scope='col').text-center Armado
					tbody
						tr.text-center
							th(scope='row').align-middle Cartón
								br
								a(href='/resources/tjbot_design_files/TJBot3DPrintFiles.zip', download='TJBot3DPrintFiles.zip').btn.btn-primary Descargar
								br
								a.btn.btn-secondary(href='http://www.instructables.com/id/Build-TJ-Bot-Out-of-Cardboard/', target='_blank', role='button') Instrucciones
							td.align-middle
								iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/bLt3Cf2Ui3o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
						tr.text-center
							th(scope='row').align-middle Impresión 3D
								br
								a(href='/resources/tjbot_design_files/TJBotLasercutLines.zip', download='TJBotLasercutLines.zip').btn.btn-primary Descargar
								br
								a.btn.btn-secondary(href='https://www.instructables.com/id/Build-a-3D-Printed-TJBot/', target='_blank', role='button') Instrucciones
							td.align-middle
								iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/bLt3Cf2Ui3o?start=39', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
						tr.text-center
							th(scope='row').align-middle MDF
								br
								a(href='/resources/tjbot_design_files/TJBotLasercutLines.zip', download='TJBotLasercutLines.zip').btn.btn-primary.disabled Próximamente
								br
								a.btn.btn-secondary(href='#', target='_blank', role='button').disabled Instrucciones
							td.align-middle
								iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/Yee2ylksP4U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
			

	section.ftco-section.contact-section.ftco-degree-bg.p-3
		.container.bg-light
			.row
				.col
					h4.mt-3 Guía 3: Actividades avanzadas.
			.row
				.col
					p 
						| En esta tercer guía encontrarás aspectos más avanzados de TJBot, apto solo para curiosos, que solo serán el incentivo para motivar la creatividad del lector.
						| Además se abordarán APIs externas, lo que permite a TJBot interactuar con tecnologías externas. Los temas abordados son:
					ul
						li - Antecedentes (JSON, arrays, condicionales).
						li - Traducción de idiomas.
						li - Descripción del entorno.
						li - El clima.
						li - Análisis de sentimientos
						li - Twitteando selfies
			.row
				.col
					#pdf3.mb-3(style='height: 750px;')
						script.
							PDFObject.embed('/resources/tjbot/3- Guia avanzada TJBot.pdf', "#pdf3")