extends ./../layout

block content

	section.ftco-section.contact-section.ftco-degree-bg
		.container.bg-light
			.row.block-9
				.col-md-6.pr-md-5
					.row.d-flex.mb-5.contact-info
						.col-md-12.mb-4
							h2.h5
								| ¿Qué necesito para obtener el badge?
						.w-100
						ul.col-md-11.list-group
							li.list-group-item Ser profesor activo de una Universidad o Institución Educativa en América Latina.
							li.list-group-item Completar el entrenamiento presencial de 8 horas "TJBot Teacher Advocacy".
							li.list-group-item Implementar los conocimientos adquiridos en una sesión presencial con un grupo de al menos 15 alumnos.
							li.list-group-item Construir, configurar y habilitar las capacidades cognitivas de un TJBot.
				.col-md-6
					img(src='images/TJBot Teacher Advocate image.png', style='width: 100%')
			.row.d-flex.mb-5.contact-info
				.col-md-12.mb-4
					h2.h4 Contacto e información
				.w-100
				.col-md-6
					p
						span Programa TJBot regional latinoamérica:
					p México | Jair Lizarraga | alizarra@mx1.ibm.com
					p México | Carlos Saucedo | saucedoc@mx1.ibm.com
				.col-md-6
					p IBM Open Badge Program
					p
						| Información general del badge: https://www.youracclaim.com/org/ibm/badge/tjbot-advocate-mexico
					p Contacto: badge@us.ibm.com


	
	footer.ftco-footer.bg-white.ftco-section
		.container
			.row.mb-5
				.col-md
					.ftco-footer-widget.mb-6
						h2.ftco-heading-2
							| PRIVACY STATEMENT
						p
							| NOTICE: IBM leverages the services of Credly's Acclaim platform, a 3rd party data processor authorized by IBM and located in the United States, to assist in the administration of the IBM Digital Badge program. In order to issue you an IBM Digital Badge, your personal information (name, email address, and badge earned) will be shared with the Credly’s Acclaim platform. You will receive an email notification from Acclaim with instructions for claiming the badge.
				.col-md
					.ftco-footer-widget.mb-6
						h2.ftco-heading-2
							br
						p
							| Your personal information is used to issue your badge and for program reporting and operational purposes. It will be handled in a manner consistent with IBM privacy practices. The IBM Privacy Statement can be viewed here: https://www.ibm.com/privacy/us/en/ . IBM employees can view the IBM Internal Privacy Statement here: https://w3.ibm.com/w3publisher/w3-privacy-notice .
